{{!-- Greeting --}}
<h1>Welcome to the Ticket Viewer!</h1>

{{!-- Menu options --}}
<a href="/alltickets" class="btn btn-success mt-4 mr-3">View all tickets</a>
<a href="/singleticket" class="btn btn-success mt-4">View single tickets</a>