<h1>Single ticket</h1>

<form action="/internal_api/searchticket" method="POST" class="mb-4 w-25">
    <div class="form-group">
        <label for="ticketId">Ticket id:</label>
        <input type="text" name="ticketId" class="form-control" id="ticketId">
    </div>
    <input type="submit" value="Search ticket" class="btn btn-primary btn-block">
</form>

<a href="/" class="btn btn-success mt-4">Main Menu</a>